In [1]:
# Import OS and CSV Tools
import os
import csv

In [2]:
# Open File Path
filepath = os.path.join("Resources", "budget_data.csv")

In [3]:
## TOTAL MONTHS:
# create a dictionary
d = {}
change = {}
past_month = 0
cur_month = 0
diff = 0

In [4]:
# print the title
print("Financial Analysis")
print("-----------------------")

Financial Analysis
-----------------------

In [5]:
# Import CSV - Loop through csv - create a dict pair for each row
with open(filepath, "r", newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader, None)
    for row in csvreader:
        d.update({row[0]:int(row[1])})
        cur_month = int(row[1])
        diff = cur_month - past_month
        past_month = int(row[1])
        change.update({row[0]:diff})

In [6]:
print(d)

{'Oct-12': 1154293, 'Nov-12': 885773, 'Dec-12': -448704, 'Jan-13': 563679, 'Feb-13': 555394, 'Mar-13': 631974, 'Apr-13': 957395, 'May-13': 1104047, 'Jun-13': 693464, 'Jul-13': 454932, 'Aug-13': 727272, 'Sep-13': 125016, 'Oct-13': 339251, 'Nov-13': 78523, 'Dec-13': 977084, 'Jan-14': 1158718, 'Feb-14': 332681, 'Mar-14': -341227, 'Apr-14': 173826, 'May-14': 742611, 'Jun-14': 1189806, 'Jul-14': 607363, 'Aug-14': -1172384, 'Sep-14': 587993, 'Oct-14': 295198, 'Nov-14': -300390, 'Dec-14': 468995, 'Jan-15': 698452, 'Feb-15': 967828, 'Mar-15': -454873, 'Apr-15': 375723, 'May-15': 1140526, 'Jun-15': 83836, 'Jul-15': 413189, 'Aug-15': 551363, 'Sep-15': 1195111, 'Oct-15': 657081, 'Nov-15': 66659, 'Dec-15': 803301, 'Jan-16': -953301, 'Feb-16': 883934}

In [7]:
print(change)

{'Oct-12': 1154293, 'Nov-12': -268520, 'Dec-12': -1334477, 'Jan-13': 1012383, 'Feb-13': -8285, 'Mar-13': 76580, 'Apr-13': 325421, 'May-13': 146652, 'Jun-13': -410583, 'Jul-13': -238532, 'Aug-13': 272340, 'Sep-13': -602256, 'Oct-13': 214235, 'Nov-13': -260728, 'Dec-13': 898561, 'Jan-14': 181634, 'Feb-14': -826037, 'Mar-14': -673908, 'Apr-14': 515053, 'May-14': 568785, 'Jun-14': 447195, 'Jul-14': -582443, 'Aug-14': -1779747, 'Sep-14': 1760377, 'Oct-14': -292795, 'Nov-14': -595588, 'Dec-14': 769385, 'Jan-15': 229457, 'Feb-15': 269376, 'Mar-15': -1422701, 'Apr-15': 830596, 'May-15': 764803, 'Jun-15': -1056690, 'Jul-15': 329353, 'Aug-15': 138174, 'Sep-15': 643748, 'Oct-15': -538030, 'Nov-15': -590422, 'Dec-15': 736642, 'Jan-16': -1756602, 'Feb-16': 1837235}

In [9]:
# for the total, count the number of entries in the dictionary
print("Total Months: " + str(len(d)))

Total Months: 41

In [13]:
## TOTAL
total = 0
with open(filepath, "r", newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    next(csvreader, None)
    for row in csvreader:
        total += int(row[1])

In [15]:
print("Total: $" + str(total))

Total: $18971412

In [18]:
## AVERAGE CHANGE
sum(change.values()) / float(len(change))

0.0

In [19]:
for key, value in d.items():
    print(key, ": ", value)

Oct-12 :  1154293
Nov-12 :  885773
Dec-12 :  -448704
Jan-13 :  563679
Feb-13 :  555394
Mar-13 :  631974
Apr-13 :  957395
May-13 :  1104047
Jun-13 :  693464
Jul-13 :  454932
Aug-13 :  727272
Sep-13 :  125016
Oct-13 :  339251
Nov-13 :  78523
Dec-13 :  977084
Jan-14 :  1158718
Feb-14 :  332681
Mar-14 :  -341227
Apr-14 :  173826
May-14 :  742611
Jun-14 :  1189806
Jul-14 :  607363
Aug-14 :  -1172384
Sep-14 :  587993
Oct-14 :  295198
Nov-14 :  -300390
Dec-14 :  468995
Jan-15 :  698452
Feb-15 :  967828
Mar-15 :  -454873
Apr-15 :  375723
May-15 :  1140526
Jun-15 :  83836
Jul-15 :  413189
Aug-15 :  551363
Sep-15 :  1195111
Oct-15 :  657081
Nov-15 :  66659
Dec-15 :  803301
Jan-16 :  -953301
Feb-16 :  883934

In [16]:
d = {'x': 1, 'y': 2, 'z': 3} 
for the_key, the_value in d.items():
    print(the_key, 'corresponds to', the_value)

x corresponds to 1
y corresponds to 2
z corresponds to 3